.card {
    /*margin: 1%;*/
    -webkit-box-shadow: 10px 10px 20px -6px rgba(0,0,0,0.54);
    -moz-box-shadow: 10px 10px 20px -6px rgba(0,0,0,0.54);
    box-shadow: 10px 10px 20px -6px rgba(0,0,0,0.54);
    margin: 0 auto 2% auto;
}
