:root {
    --header-height: 106px;
    --footer-height: 38px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*
this is a must when using hebrew on the page
*/
body {
    text-align: right;
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial, sans-serif;
    width:100%;
    height:100%;
    margin: auto;
}
main {
    margin:auto;
    text-align: center;
    overflow: scroll;
}
/*
header and footer style
*/

header {
    height: var(--header-height);
    background-image: url("../../images/mid_exam/header_bg.png");
    margin: auto;
}

.header-bg {
    width: 100%;
    background-image: url("../../images/mid_exam/header_bg.png");
    position: fixed;
    height: var(--header-height);
}

header a {
    color: #fff;
    text-decoration: none;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

header a:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

header .dropdown-content > div:hover {
    background-color: #d6d6d5;
}

footer {
    position: fixed;
    bottom: 0;
    height: var(--footer-height);
    width: 900px;
    margin:auto;
    z-index: 1;
    background-image: url("../../images/mid_exam/footer_bg.png");
}

.footer-bg {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: var(--footer-height);
    background-image: url("../../images/mid_exam/footer_bg.png");
}

footer.ornament.flex {
    justify-content: center;
    color: #eaeaea;
}

header.ornament {
    position: relative;
}

.flex {
    display: flex;
}

.ornament-style > li {
    flex-direction: row;
    padding: 0 10px 30px 0;
    font-size: 14px;

}

.ornament-style > li > a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

header > div.flex {
    justify-content: flex-end;
    padding: 20px 0 0 10px;
}

/*
main area style
*/
.container {
    justify-content: space-between;
    padding-top: 32px;
}



.row {
    padding-top: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.search-bar {
    position: relative;
}

div.search-bar > img#mg_glass {
    position: absolute;
    display: block;
    width:20px;
    left: -6px;
    top:-1px;
}

.row.upper > div > div > div.link > a{
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
}
.row.upper > div > div > div.link > a:hover{
    color: #6fb3ff;
    text-decoration: underline;
    font-size: 14px;
}


.row.upper > div > div > div.link {
    text-align: left;
}

.row.upper > div > div {
    color: #eaeaea;
    background-color: #7f7f7a;
    opacity: 90%;
    border-bottom-right-radius: 10%;
    position:absolute;
    top:195px;
    margin: 10px;
    text-align: right;
    padding: 0 5px 0 5px;
    font-size: 14px;
    font-weight: bold;
}

.row.upper > div {
    border-bottom-right-radius: 10%;
    width: 293px;
    height: 355px;
    position: relative;
}


.lower > div{
    height: 216px;
    width: 292px;
    background-image: url("../../images/mid_exam/small_cube_bg.png");
    background-repeat: no-repeat;
    background-size: 120%, 100%;
    border-top-right-radius: 10%;
    border: 1px solid #e0e0e0;
}

.row.lower > div > div  a{
    color: #656560;
    text-decoration: underline;
    font-size: 14px;
}

.lower > div.flex {
    flex-direction: column;
}

.lower > div.card {
    position: relative;
}

.card-header {
    padding: 15px;
    text-align: right;
}

.card-footer {
    padding: 15px;
    text-align: left;
}

.card > div.flex {
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

div[class*="promotion"] {
    height: 110px;
    width: 250px;
    margin: auto;
}

.lower > div.flex > div.flex {
    flex-direction: row;
}

div.flex > div > div > ul > li {
    /*list-style: none;*/
    text-align: right;
}
/*
header drop down
*/

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    padding: 0;
    margin: 0;
}

.dropdown-content > div {
    border-bottom: 1px solid #eaeaea;
    padding: 5px;
}
.dropdown:hover > .dropdown-content {
    display: block;
    position: absolute;
    /*border: 1px solid black;*/
    width: max-content;
    top: 48px;
    z-index: 1;
    background-color: #909090;
}



/*
images
*/
.station {
    background-image: url("../../images/mid_exam/1908364606615453350.JPG");
}

.plant {
    background-image: url("../../images/mid_exam/Picture-046410251500.jpg");
}

.dude {
    background-image: url("../../images/mid_exam/פזקר_-291_354410564000.jpg");
}

.promotion1 {
    background-image: url("../../images/mid_exam/paz_250x110059890678.jpg");
}
.promotion2 {
    background-image: url("../../images/mid_exam/250X110668568400.jpg");
}

.ils_map {
    height: 168px;
    width: 73px;
    background-image: url("../../images/mid_exam/map-transparent.png");
}

.paz_logo {
    height: 93px;
    width: 142px;
    float: right;
    position: absolute;
    background-image: url("../../images/mid_exam/paz_logo.png");
}

.house_icon {
    height: 15px;
    width: 34px;
    margin-right: 140px;
    background: url("../../images/mid_exam/menu_home_blue.png") no-repeat;
}

li.fb_icon {
    display: block;
    padding-right: 20px;
    background: url("../../images/mid_exam/fb_icon.png") no-repeat;
}

/*
contact form
*/

.contact-menu > ul > li {
    flex-direction: row;
}

.container > div {

}

.contact-menu {
    width:15%
}

.contact-right {
    width:50%;
}
.overlay {
    height: 356px;
    width: 383px;
    background-image: url("../../images/mid_exam/contact_form_bg.png");
}
.contact-left {
    text-align: right;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 20px;
}

.contact-img {
    width: 292px;
    height: 169px;
    background-image: url("../../images/mid_exam/cube_bg.png");
    margin-top: 40px;
}

div > h2 {
    color:#3F51B5;
    padding: 10px 20px 0 0;
    margin: auto;
    font-size: 15px;
    text-align: right;
}

div > p {
    text-align: right;
    padding-right: 20px
;
}

.contact-img > div {
    padding: 20px 20px 0 0;
    font-size: 13px;
}

hr {
    border: 1px solid rgba(220, 220, 220, 0.5);
}

form {
    margin: 0 30px 0 30px;
}

.col-25 {
    float: left;
    width: 35%;
    margin-top: 6px;
    text-align: right;
    padding-right: 20px;
}

.col-75 {
    float: left;
    width: 65%;
    margin-top: 6px;
}
.col-100 {
    width: 323px;
    margin-top: 6px;
}

/* clearfix */
.form-row:after {
    content: "";
    display: table;
    clear: both;
}

#subject {
    height: 70px;
    width: 80%;
    margin-left: 30px;
}

#submit {
    float: left;
    margin-left: 50px;
    background-color: #3F51B5;
    color: white;
}
.page_name {
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 12px;
    padding: 20px 4px 0 0;
}
.contact-right > div > li {
    text-align: right;
}

.contact-menu > ul > li {
    font-size: 13px;
    background-image: linear-gradient(rgb(254,254,254), rgb(192,192,192));
    width:100%;
}

.contact-menu > ul > li >a {
    display: block;
    padding-top: 5px;
    text-decoration: none;
    color: #656560;
}

.contact-menu > ul > li >a:hover {
    text-decoration: underline;
}

.contact-right > div > li {
    font-size: 12px;
}

.contact-menu > ul {
    padding: 0;
    height: 30px;
    margin:auto;
}

.wrapper {
    width: 900px;
    margin: auto;
}