
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*
this is a must when using hebrew on the page
*/
body {
    text-align: right;
    direction: rtl;
}
main {
    width: 80%;
    margin:auto;
    text-align: center;
}
/*
header and footer style
*/

header {
    height: 106px;
    background-image: url("../../images/mid_exam/header_bg.png");
}

footer {
    height: 38px;
    background-image: url("../../images/mid_exam/footer_bg.png");
}

.ornament {
    margin: auto;
    width:80%;
}

.flex {
    display: flex;
}
.ornament-style > li {
    flex-direction: row;
    list-style: none;
    padding-left: 20px;
}

/*
main area style
*/
.container {
    width: 960px;
    height: 1000px;
    margin:auto;
    border: 1px solid black;
}

.row {
    height: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.row.upper > div > div {
    color: #eaeaea;
    background-color: #7f7f7a;
    opacity: 90%;
}

.row > div a:after {
    /*background-image: url("");*/
}

.upper > div {
    border: 1px solid black;
    border-bottom-right-radius: 10%;
    width: 293px;
    height: 355px;
}


.lower > div{
    height: 169px;
    width: 292px;
    background-image: url("../../images/mid_exam/cube_bg.png");
    border: 1px solid black;
    border-top-right-radius: 10%;
}

div[class*=" tocolor-"] {
    color:red
}

/*
images
*/
.station {
    background-image: url("../../images/mid_exam/1908364606615453350.JPG");
}

.plant {
    background-image: url("../../images/mid_exam/Picture-046410251500.jpg");
}

.dude {
    background-image: url("../../images/mid_exam/פזקר_-291_354410564000.jpg");
}

.promotion1 {
    height: 110px;
    width: 250px;
    background-image: url("../../images/mid_exam/paz_250x110059890678.jpg");
}
.promotion2 {
    height: 110px;
    width: 250px;
    background-image: url("../../images/mid_exam/250X110668568400.jpg");
}

