
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*
this is a must when using hebrew on the page
*/
body {
    text-align: right;
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial, sans-serif;
    width:900px;
    height:100%;
    margin: auto;
}
main {
    margin:auto;
    text-align: center;
    overflow: scroll;
}
/*
header and footer style
*/

header {
    height: 106px;
    background-image: url("../../images/mid_exam/header_bg.png");
    /*padding: 0 10% 0 10%;*/
}

header a {
    color: #fff;
    text-decoration: none;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

header a:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

header .dropdown-content > div:hover {
    background-color: #d6d6d5;
}

footer {
    position: fixed;
    bottom: 0;
    height: 38px;
    /*padding: 0 10% 0 10%;*/
    background-image: url("../../images/mid_exam/footer_bg.png");
}

footer.ornament.flex {
    justify-content: center;
    color: #eaeaea;
}

header.ornament {
    position: relative;
}

.flex {
    display: flex;
}

ul.ornament-style.flex {
    /*padding-right: 19%;*/
}
.ornament-style > li {
    flex-direction: row;
    /*list-style: none;*/
    padding: 0 10px 30px 10px;

}

.ornament-style > li > a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

header > div.flex {
    justify-content: flex-end;
    padding: 20px 0 0 10px;
}

/*
main area style
*/
.container {
}



.row {
    padding-top: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.search-bar {
    position: relative;
}

div.search-bar > img#mg_glass {
    position: absolute;
    width:20px;
    left: -6px;
    top: 0;
}

.row.upper > div > div > div.link > a{
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
}
.row.upper > div > div > div.link > a:hover{
    color: #6fb3ff;
    text-decoration: underline;
    font-size: 14px;
}


.row.upper > div > div > div.link {
    text-align: left;
}

.row.upper > div > div {
    color: #eaeaea;
    background-color: #7f7f7a;
    opacity: 90%;
    border-bottom-right-radius: 10%;
    position:absolute;
    top:195px;
    margin: 10px;
    text-align: right;
    padding: 0 5px 0 5px;
    font-size: 14px;
    font-weight: bold;
}

.row.upper > div {
    border-bottom-right-radius: 10%;
    width: 293px;
    height: 355px;
    position: relative;
}


.lower > div{
    height: 216px;
    width: 292px;
    background-image: url("../../images/mid_exam/small_cube_bg.png");
    background-repeat: no-repeat;
    background-size: 120%, 100%;
    border-top-right-radius: 10%;
    border: 1px solid #e0e0e0;
}

.row.lower > div > div  a{
    color: #656560;
    text-decoration: underline;
    font-size: 14px;
}

.lower > div.flex {
    flex-direction: column;
}

.lower > div.card {
    position: relative;
}

.card-header {
    padding: 15px;
    text-align: right;
}

.card-footer {
    padding: 15px;
    text-align: left;
}

.card > div.flex {
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

div[class*="promotion"] {
    height: 110px;
    width: 250px;
    margin: auto;
}

.lower > div.flex > div.flex {
    flex-direction: row;
}

div.flex > div > div > ul > li {
    /*list-style: none;*/
    text-align: right;
}
/*
header drop down
*/

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    padding: 0;
    margin: 0;
}

.dropdown-content > div {
    border-bottom: 1px solid #eaeaea;
    padding: 5px;
}
.dropdown:hover > .dropdown-content {
    display: block;
    position: absolute;
    /*border: 1px solid black;*/
    width: max-content;
    top: 48px;
    z-index: 1;
    background-color: #909090;
}



/*
images
*/
.station {
    background-image: url("../../images/mid_exam/1908364606615453350.JPG");
}

.plant {
    background-image: url("../../images/mid_exam/Picture-046410251500.jpg");
}

.dude {
    background-image: url("../../images/mid_exam/פזקר_-291_354410564000.jpg");
}

.promotion1 {
    background-image: url("../../images/mid_exam/paz_250x110059890678.jpg");
}
.promotion2 {
    background-image: url("../../images/mid_exam/250X110668568400.jpg");
}

.ils_map {
    height: 168px;
    width: 73px;
    background-image: url("../../images/mid_exam/map-transparent.png");
}

.paz_logo {
    height: 93px;
    width: 142px;
    float: right;
    position: absolute;
    background-image: url("../../images/mid_exam/paz_logo.png");
}

.house_icon {
    height: 15px;
    width: 34px;
    margin-right: 140px;
    background: url("../../images/mid_exam/menu_home_blue.png") no-repeat;
}

.fb_icon {
    background: url("../../images/mid_exam/fb_icon.png") no-repeat;
}

/*
contact form
*/

.contact-menu > ul > li {
    /*list-style: none;*/
    flex-direction: row;
}

.container > div {
    /*border: 1px solid black;*/
}

.contact-menu {
    width:8%
}

.contact-right {
    width:50%;
    /*border: 1px solid black;*/
}
.overlay {
    height: 356px;
    width: 383px;
    background-image: url("../../images/mid_exam/contact_form_bg.png");
}
.contact-left {
    text-align: right;
}

.contact-img1, .contact-img2 {
    width: 292px;
    height: 169px;
    background-image: url("../../images/mid_exam/cube_bg.png");
}